body {
    background: white;
    text-align: center;
    margin: 0;
    font-family:"Poppins",sans-serif;
  }
  
  header{
    background: black;
    color: white;
    padding: 0px 5px;
    height:5%;
  } 
  nav{
    text-align: center;
    font-size:15px;
    padding:0;
    margin:0;
    list-style-type:none;
  }
  li{
    display:inline-block;
    width:10%;
    border: 1px solid blue;
    color:white;
  }

  .container{
    max-width:1000px;
    margin: 0 auto;
    background:red;
  }

  section{
    display:flex;
    align-items: center;
    height:90%;
  }
  section h1 {
    margin:0;
    font-size: 100px;
  }

  section p{
    font-size:24px;
    margin:0;
  }
  
  footer {
    background: black;
    color: white;
    padding: 0px 15px;
    height:5%;
  }
  
